---
layout: default
title: Home
---
{% include JB/setup %}
{% for page in site.categories.misc %}
{% if page.homepage %}
	{% assign homepage = page %}
{% endif %}
{% endfor %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="carousel-overlay logotitle logobox">
			<!-- {{ homepage.title }} -->
		</div>
		<div id="carousel" class="carousel carousel-fade" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel" data-slide-to="0" class="active"></li>
				<li data-target="#carousel" data-slide-to="1"></li>
				<li data-target="#carousel" data-slide-to="2"></li>
				<li data-target="#carousel" data-slide-to="3"></li>
			</ol>
			<!-- Carousel items -->
			<!-- DAD: this should be dynamically populated. -->
			<div class="carousel-inner">
				<div class="active item">
					<img src="/assets/images/banner/sohrab_sam_blackboard.jpg" width='1200px' alt="">
				</div>
				<div class="item">
					<img src="/assets/images/banner/mike_3d_cell.jpg" width='1200px' alt="">
				</div>
				<div class="item">
					<img src="/assets/images/banner/adrian_rooftop.jpg" width='1200px' alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
			{{ homepage.content }}
		</div>
	</div>
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-7">
		<div class="head">
			<a class="off" href="/papers/">Papers</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for paper in site.categories.papers limit:4 %}
				<div class="note-title">
					<i class="fa fa-file-text-o fa-fw"></i>
					<a class="off" href="{{ paper.url }}">
						{{ paper.title }}
					</a>
					<br/>
					<div class='shortref note'>
						{{ paper.shortref }}
					</div>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Published
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>
				<div class="spacer"></div>
			{% endfor %}
		</div>
		<div class="bigspacer"></div>
	</div>
	<div class="col-md-5">
		<div class="feedbox pad-left">
			<div class="head">
				<a class="off" href="https://twitter.com/SohrabShah">
					Tweets
				</a>
			</div>
			<div class="bigspacer"></div>
			<a class="twitter-timeline" data-theme="light" data-chrome="noheader nofooter transparent noborders" data-tweet-limit="2" href="https://twitter.com/SohrabShah">Tweets by SohrabShah</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div class="bigspacer"></div>
	</div>
</div>

<div class="bigspacer"></div>
