---
layout: default
title: "Team"
description: "People in the lab"
group: navigation
navorder: 5
---
{% include JB/setup %}

<div class="bigspacer"></div>
{% for member in site.categories.team reversed %}
	{% if member.alum == false %}
		{% cycle 'add rows': '<div class="row">', '', '' %}
			<div class="col-md-4 memberbox">
				<div class="media">
					<a class="pull-left" href="{{ member.url }}">
						<img width="150" class="media-object" src="{{ member.image }}">
					</a>
					<div class="media-body">
						<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
						<p class="note">{{ member.position }}</p>
					</div>
				</div>
				<div class="bigspacer"></div>
				<div class="bigspacer"></div>
			</div>
		{% cycle 'close rows': '', '', '</div>' %}
	{% endif %}
{% endfor %}

<div class="bigspacer"></div>
<img width="931" src="/assets/images/team/2018-DowntownNYC.jpg">
<p class="note">2018 - A Night Out in New York City</p>
<div class="bigspacer"></div>
<img width="931" src="/assets/images/team/2017-SummerBBQ.jpg">
<p class="note">2017 - Summer Barbecue</p>
<div class="bigspacer"></div>
<img width="931" src="/assets/images/team/2016-Rooftop.jpg">
<p class="note">2016 - Lab Rooftop</p>
<div class="bigspacer"></div>
<img width="931" src="/assets/images/team/2014-AliceLakeHike.jpg">
<p class="note">2014 - Alice Lake Hike</p>
<div class="bigspacer"></div>
<hr />
<div class="bigtitle text-center">Alumni</div>
<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alum == true %}
		{% cycle 'add alum rows': '<div class="row">', '', '' %}
			<div class="col-md-4 memberbox">
				<div class="media">
					<a class="pull-left" href="{{ member.url }}">
						<img width="150" class="media-object" src="{{ member.image }}">
					</a>
					<div class="media-body">
						<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
						<p class="note">{{ member.position }}</p>
						<p class="note"><a href="{{ member.link }}" class="off">{{ member.current }}</a></p>
					</div>
				</div>
				<div class="bigspacer"></div>
				<div class="bigspacer"></div>
			</div>
		{% cycle 'close alum rows': '', '', '</div>' %}
	{% endif %}
{% endfor %}

<div class="bigspacer"></div>
